$('#flashes').append('<div class="flash notice"><%= escape_javascript(flash.delete(:notice)) %></div>')
$('#c<%= @comment.inverse_replies[0].id %>').after('<div class="comment"><%= escape_javascript(render(:partial => "reply")) %></div>');
$('#c<%= @comment.id %>').hide();
$('#c<%= @comment.id %>').toggle("fast");

