<h1>New Reply</h1>

<% form_for(@comment) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_area :body %>
  </p>
  <p>
  <%= hidden_field_tag "comment_id", params[:id] %>
  <%= hidden_field_tag "song_id", params[:song_id] %>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', comments_path %>
