<h1>New replyship</h1>

<% form_for(@replyship) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :comment_id %><br />
    <%= f.text_field :comment_id %>
  </p>
  <p>
    <%= f.label :reply_id %><br />
    <%= f.text_field :reply_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', song_comment_replyships_path %>
