<h1>New replyship</h1>

<% form_for(@replyship,@comment) do |fr,fc| %>
  <%= fr.error_messages %>

  <p>
    <%= fr.label :comment_id %><br />
    <%= fr.text_field :comment_id %>
  </p>
  <p>
    <%= fr.label :reply_id %><br />
    <%= fr.text_field :reply_id %>
  </p>
  <p>
    <%= fc.label :comment, :body %><br />
    <%= fc.text_field :comment, :body %>
  </p>
  <p>
    <%= fr.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', song_comment_replyships_path %>
