<h1>Editing song</h1>

<% form_for(@song,:html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :publish %><br />
    <%= f.check_box :publish %>
  </p>
  <p>
  <%= f.label 'Audio' %><br />
  <%= @song.audio_file_name + tag("br") if @song.audio_file_name %>
  <%= f.file_field :audio if not @song.audio_file_name %>
  </p>
  <% if @song.audio? %>
  <p>
    <%= f.label :analyze %><br />
    <%= f.check_box :analyze %>
  </p>
  <% end %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @song %> |
<%= link_to 'Back', songs_path %>
