<div id="header" class="round">
  <%= image_tag("logo.png", :alt => "What's the name of the song?", :class => "round", :width => "10%") %>
  <ul class="navigation round">
    <li><%= link_to "Songs", songs_url %></li>
    <% if current_user %>
      <li><%= link_to "Active Users", active_users_url, :id => "active_users" %></li>
   	  <li><%= link_to "Users", users_url %></li>
   	  <li><%= link_to "Profile", user_url(current_user) %></li>
      <li><%= link_to "Logout", signout_url %></li>
    <% else %>  
   	  <li><%= link_to "Sign in", new_user_session_url %></li>
   	  <li><%= link_to "Register", new_user_url %></li>
    <% end %>
  </ul>
</div>
<%= render_crumbs %>
